// Here you can add other styles

.redFont {
    color: red;
}

.bold {
    font-weight: bold;
}

.bingo-numbers{
    td{
        text-align: center;
    }
    .called{
        background: #77FF33;
        font-weight: bold;
    }
}

.bingo-table{
    .col, .row{
        text-align: center;
    }
    .header{
        font-weight: bold;
    }
    .checked{
        background: green;
    }
}